!!!
html
  head
    title Using components
    link(rel='stylesheet', href='style.css')
  body
    :markdown
      ## using-components

      *Open the debug console to see what's going on.*

    //- trigger the builder and run the boot component
    script(src='build.js')
    script
      require('boot');
