!!!
html
  head
    title Using components
    link(rel='stylesheet', href='/style.css')
  body
    :markdown
      ## using-components

      *Open the debug console to see what's going on.*

    //- boilerplate code to set up the websocket with live reload
    script(src='/build.js')
    script
      window.ws = require('main/connect');
      ws.send('hello');
