!!!
html
  head
    title Using components
    link(rel='stylesheet', href='/style.css')
    script(src='/build.js')
    script
      require('boot');
  body
    :markdown
      ## using-components

      *Open the debug console to see what's going on.*
