!!!
html
  head
    title Bootstrap demo
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button',data-toggle="collapse"
                                              data-target=".nav-collapse")
          a.brand(href='https://github.com/jcw/adhoq#readme') AdHoq
          .nav-collapse.collapse
            ul.nav
              li.active: a(href='#') One
              li: a(href='#') Two
              li: a(href='#') Three

    .container
      h1 Bootstrap demo
      
      :markdown
        This demo uses the [Bootstrap][1] CSS framework.
        
        *Open the debug console to see what's going on.*
          
          [1]: http://twitter.github.io/bootstrap/

    //- trigger the builder and run the boot component
    script(src='build.js')
    script.
      require('boot');
