!!!
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title Minimal coffee
    link(rel='stylesheet', href='/style.css')
    script(src='/engine.io.js')
    script(src='/reload.js')
  body
    :markdown
      ## minimal-coffee
      
      *Open the debug console to see what is going on.*
      
      Any change in the `app` directory causes the browser to automatically
      reload, with in-place updates for CSS changes.

      This **[page](page.html)** is in Markdown format, and ends up as HTML.
