!!! 5
html(lang="en",ng-app='myApp')
  head
    meta(charset="utf-8")
    != SocketStream
    title Welcome to Briqs
  body
    .container
      .row
        .span12
          h1 Briqs
          input(type="text",ng-model="name",placeholder="Your name")
          p(ng-show='name')
            b Hello, {{name}}!
