!!!
html(ng-app)
  head
    title Angular demo {{ name.toUpperCase() }}
    link(rel='stylesheet', href='style.css')
  body
    :markdown
      ## angular-demo

      *Check the window title as you type...*

    input(type='text', ng-model='name', placeholder='Your name...')
    h1 Hello {{ name }}!
    
    //- trigger the builder and run the boot component
    script(src='build.js')
    script.
      require('boot');
      require('angular');
