html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title Minimal reload
    link(rel='stylesheet', href='/style.css')
    script(src='/engine.io.js')
    script(src='/reload.js')
  body
    h3 minimal-reload
    p Open the debug console to see what's going on.
    p
      | Any change in the "app" directory causes the browser to automatically
      |  reload, although in-places updates will be used for CSS files.
