!!!
html
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    title Minimal reload
    link(rel='stylesheet', href='/style.css')
    script(src='/engine.io.js')
    script(src='/reload.js')
  body
    :markdown
      ## minimal-reload
      
      *Open the debug console to see what's going on.*
      
      Any change in the `app` directory causes the browser to automatically
      reload, with in-place updates for CSS changes.
